*{
  box-sizing: border-box;
  margin:0;
  padding:0;

}

body{
  font-family:system-ui, sans-serif;
  background-color: black;
  color:azure;
  
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 5rem;
  
}
.header .header__img{
  width: 55px;
}
